@page 
@model NuTrello.Pages.forms.AddNewTask
@{
    ViewData["Title"] = "New Task";
}

<h1>New task</h1>




 <form method="post"> 
   <input type ="text" asp-for="NewTaskCreated.Title" placeholder="Task Title">
   <input type ="text" asp-for="NewTaskCreated.Description" placeholder="Description">

  <button typ ="submit"> Create new task </button>

  
 </form>

 


 
 

 
