@page "{boardId:int}"


<link rel="stylesheet" href="~/css/boards.css" />
@model NuTrello.Pages.BoardsModel
@{
    ViewData["Title"] = "Boards";
}

  <h1>@Model.board.Title</h1>
  
  <div class="render-list">
    @foreach (var list in @Model.board.Lists)
    {
    <div class="render-content col-md-3 " >
      <div class="content-bg">
      <label class="list-title" for="task-group ">@list.Title</label>
      <ul class="list-group task-group">
        @foreach (var task in list.Tasks)
        {
          <li class="list-group-item">@task.Title</li>
        }
        @* Create a task, collapsable inline *@
        <li class="collapse list-group-item" id="task-hidden-@list.Id" aria-hidden="true">
            <form method="POST" asp-page-handler="CreateTask" asp-route-listId=@list.Id>
              <div>
                <input type="text" asp-for="NewTaskCreated.Title" placeholder="Enter Title">
              </div>
              <div>
                <textarea style="width:100%; height:100px;" asp-for="NewTaskCreated.Description" placeholder="Enter Description"></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#task-hidden-@list.Id">Cancel</button>
                <button type="submit" class="btn btn-primary" >Create Task</button>
              </div>
            </form>
        </li> 

        @* --------- *@
      </ul>
      <button class="create-task-btn btn btn-outline-dark btn-sm" type="button" data-toggle="collapse" data-target="#task-hidden-@list.Id">Create New Task</button>
      </div>
    </div>
  }
  <div>
  <button class="create-list-btn btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#listModal">Add a List</button>
  </div>
  </div>

 
<!-- List Modal -->
<form method="POST" asp-page-handler="CreateList">
<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" asp-for="NewListCreated.ListName" placeholder="Enter Title">
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="nav-link text-dark" asp-area="" asp-page="/Boards">
        <button type="submit" class="btn btn-primary">Create List</button>
        </a>
      </div>
    </div>
  </div>
  </form>
</div>