@page
@model NuTrello.Pages.BoardsModel
@{
    ViewData["Title"] = "Boards";
}

<h1>Boards</h1>

@foreach (var item in @Model.Lists)
{
    <div></div>
}

<div class ="creatList"><button>create list</button></div>

