@page "{handler?}"
<link rel="stylesheet" href="~/css/index.css" />
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index-content" style="display: flex; justify-content: center; margin-top: 7%;">
    <br>
    <div class="board-btns">
    @if (Model.boards != null)
    {
        @foreach (var board in Model.boards)
        {          
        <div class="btn-group ">   
            <a id="@board.Id" style="text-decoration: none" asp-area="" asp-page="/Boards" asp-route-boardId="@board.Id" class="btn btn-outline-dark btn-lg btn-block">@board.Title</a>
        </div>
        }
    }    
    </div>

    <br>
</div>   
    <div class ="addBoard" style="display: flex; justify-content: center; margin: 5%;">
        <button class="btn btn-primary btn-lg" weight="64" height="64" data-toggle="modal" data-target="#boardModal">Add a Board</button>
    </div>


<!-- boardModal -->
<div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form method="POST" asp-page-handler="NewBoard">

        <div class="modal-body">
          <input type="text" asp-for="newBoard.Title" placeholder="Enter Title">
          <textarea asp-for="newBoard.Description" style="width:300px; height:200;" placeholder="Enter Description"></textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="nav-link text-dark" asp-area="" asp-page="/Boards">
          <button type="submit" class="btn btn-primary">Create Board</button>
          </a>
        </div>

      </form>

    </div>
  </div>
</div>