@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    Coola saker som knappar och listor här
</div>

<div class="text-primary text-center">
    <br>
    <div class="boards-list">
    @if (Model.boards != null)
    {
        @foreach (var board in Model.boards)
        {          
        <div class="board-btn">
            <a id="@board" asp-area="" asp-page="/Boards">
            <button> @board</button>
            </a>
        </div>
        }
    }
    </div>
    <div class ="addBoard">
        <h1>Board</h1>
        <a class="nav-link text-dark" asp-area="" asp-page="/Boards"><img src="~/img/plus-circle-solid.svg" weight="64" height="64" onclick="insertList()" /></a>
        @* <button class="createBoard" asp-area="" asp-page="/Boards" ><img src="~/img/plus-circle-solid.svg" weight="64" height="64" onclick="insertList()"/></button> *@
    </div>
    
</div>