
.render-list{
display: flex;
justify-content: flex-start;
}

.content-bg{
    border-radius: 2px;
    background-color: rgba(119, 119, 119, 0.151);
}
.list-title{
    margin: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.list-group-item{
    margin: 3%;
}

.create-task-btn{
    margin: 3%;
    width: 94%;
}