/*
    MAIN
*/

.render-list {
    display: flex;
    justify-content: flex-start;
}

/*
    LISTOR
*/

.content-bg {
    border-radius: 2px;
    background-color: rgba(119, 119, 119, 0.151);
    margin-bottom: 5%;
    height: 700px;
}

/*Titel*/

.list-title-div {
    display: flex;
    justify-content: space-between;
}

.list-title {
    display: flex;
    justify-content: center;
    margin-left: 8%;
    padding-top: 3%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.remove-list-btn {
    margin-right: 4%;
    border: none;
}

.create-list-btn {
    width: 7em;
}

/*
    TASKS
*/

/*En task*/
.list-group-item {
    margin: 3%;
}

.create-task-btn {
    margin: 3%;
    width: 94%;
}

.task-title {
    font-size: 16px;
    list-style-type: none;
    background-color: white;
    ;
}

.task-desc {
    list-style-type: none;
    margin-top: 3%;
}

.task-desc div {
    list-style-type: none;
    margin-top: 3%;
    margin-left: 8%;
}

.remove-list-btn {
    display: flex;
    align-self: end;
    font-size: larger;
}